BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
PackConstructorInitializers: CurrentLine
AlwaysBreakTemplateDeclarations: Yes
SplitEmptyFunction: false,AllowShortFunctionsOnASingleLine: Empty
Standard: Cpp03
BreakBeforeBraces: Linux
PointerAlignment: Left
